SourceCode/LTMProject/Libraries/AF.Services/Service References/SMSMessage/SmsAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://smsapi.cell.com" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://smsapi.cell.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://smsapi.cell.com">
      <xsd:element name="QueryUserInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryUserInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryReports">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in5" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryReportsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReceiveMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReceiveMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdatePassword">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdatePasswordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateSign">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateSignResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReceiveReport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReceiveReportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdatePasswordRequest">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="QueryUserInfoRequest">
    <wsdl:part name="parameters" element="tns:QueryUserInfo" />
  </wsdl:message>
  <wsdl:message name="ReceiveMessageResponse">
    <wsdl:part name="parameters" element="tns:ReceiveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSignResponse">
    <wsdl:part name="parameters" element="tns:UpdateSignResponse" />
  </wsdl:message>
  <wsdl:message name="QueryReportsRequest">
    <wsdl:part name="parameters" element="tns:QueryReports" />
  </wsdl:message>
  <wsdl:message name="QueryUserInfoResponse">
    <wsdl:part name="parameters" element="tns:QueryUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveReportResponse">
    <wsdl:part name="parameters" element="tns:ReceiveReportResponse" />
  </wsdl:message>
  <wsdl:message name="QueryReportsResponse">
    <wsdl:part name="parameters" element="tns:QueryReportsResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageResponse">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePasswordResponse">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSignRequest">
    <wsdl:part name="parameters" element="tns:UpdateSign" />
  </wsdl:message>
  <wsdl:message name="ReceiveReportRequest">
    <wsdl:part name="parameters" element="tns:ReceiveReport" />
  </wsdl:message>
  <wsdl:message name="SendMessageRequest">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="ReceiveMessageRequest">
    <wsdl:part name="parameters" element="tns:ReceiveMessage" />
  </wsdl:message>
  <wsdl:portType name="SmsAPIPortType">
    <wsdl:operation name="QueryUserInfo">
      <wsdl:input name="QueryUserInfoRequest" message="tns:QueryUserInfoRequest" />
      <wsdl:output name="QueryUserInfoResponse" message="tns:QueryUserInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryReports">
      <wsdl:input name="QueryReportsRequest" message="tns:QueryReportsRequest" />
      <wsdl:output name="QueryReportsResponse" message="tns:QueryReportsResponse" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveMessage">
      <wsdl:input name="ReceiveMessageRequest" message="tns:ReceiveMessageRequest" />
      <wsdl:output name="ReceiveMessageResponse" message="tns:ReceiveMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input name="UpdatePasswordRequest" message="tns:UpdatePasswordRequest" />
      <wsdl:output name="UpdatePasswordResponse" message="tns:UpdatePasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSign">
      <wsdl:input name="UpdateSignRequest" message="tns:UpdateSignRequest" />
      <wsdl:output name="UpdateSignResponse" message="tns:UpdateSignResponse" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveReport">
      <wsdl:input name="ReceiveReportRequest" message="tns:ReceiveReportRequest" />
      <wsdl:output name="ReceiveReportResponse" message="tns:ReceiveReportResponse" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input name="SendMessageRequest" message="tns:SendMessageRequest" />
      <wsdl:output name="SendMessageResponse" message="tns:SendMessageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmsAPIHttpBinding" type="tns:SmsAPIPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryUserInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="QueryUserInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QueryUserInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryReports">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="QueryReportsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="QueryReportsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMessage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ReceiveMessageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReceiveMessageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="UpdatePasswordRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdatePasswordResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSign">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="UpdateSignRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateSignResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveReport">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ReceiveReportRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReceiveReportResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SendMessageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SendMessageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmsAPI">
    <wsdl:port name="SmsAPIHttpPort" binding="tns:SmsAPIHttpBinding">
      <wsdlsoap:address location="http://211.147.244.114:9801/CASServer/services/SmsAPI" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>